
$highlight:#C0C0C0;

.calendar {
  &-container {
    display: grid;
    width: 50%;
    aspect-ratio: 16/9;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  &-square {
    margin: 2px;
    border-radius: 2px;
    &-highlighted {
      background: repeating-linear-gradient(
                      -30deg,
                      #708090,
                      #708090 10px,
                      $highlight 10px,
                      $highlight 20px
      );
    }
  }
}